body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.paralaxShell{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background: url("images/Tanner-Building.jpg") fixed 100% no-repeat;
}

.navPadding{
	padding-top: 25vh;
}

nav{
	margin: auto;
	height: 300px;
	width: 1000px;
	border-radius: 10px;
	background-color: rgba(0,0,0,.4);
}

h1{
	text-align: center;
	font-size: 70px;
	margin: 40px 0 0 0;
	color: #FFFFFF;
}

h2{
	margin: 0;
	text-align: center;
	font-style: italic;
	font-size: 50px;
	color: #FFFFFF;
}

h3{
	margin: 0;
	text-align: center;
	font-style: italic;
	font-size: 30px;
	color: #FFFFFF;

}

.buttonPadding{
	margin-top: 20px;
	margin-left: 3vw;
}

nav button {
	margin: 0 1vw 0 1vw;
	background-color: rgba(26,26,26,.4);/*#232F3B*/
	border:none;
	width: 200px;
	height: 60px;
	border-radius: 10px;
	color: #FFFFFF;
	transition: .5s;
}

nav button:hover {
	background-color: rgba(89,89,89,.7);
}

/*-----------------End Head-------------------*/

.bio {
	height: 100vh;
	width: 100vw;
	background-color: #e6e6fa;
}

.bioContent {
	height: 28vh;
	background: url("images/Area.jpg") fixed 100% no-repeat;
}

.container{
	width: 74vw;
}

.bioTopPadding{
	padding-top: 7vh;
	width: 15vw;
	float: left;
	margin-left: 4vw;	
}

#topRight{
	margin-top: -1vh;
	float: right;
	margin-right: 4vw;
	margin-left: 0;
}

.TRText{
	border: 0 solid #FFFFFF;
	border-radius: 10px;
	height: 24vh;
	font-size: 40px;
	background-color: #999999;
}

.bioCenterPadding{
	width: 92vw;
	float: left;
	margin-left: 4vw;
}

.bioBottomPadding {
	width: 15vw;
	float: right;
	margin-right: 4vw;
}

#bottomLeft{
	margin-top: -4vh;
	float: left;
	margin-left: 4vw;
	margin-right: 0;
}

.BLText{
	border: 0 solid #FFFFFF;
	border-radius: 10px;
	height: 24vh;
	font-size: 40px;
	background-color: #999999;
}


#bioTop{
	border-radius: 10px 10px 0 0;
}

#bioBottom{
	border-radius: 0 0 10px 10px;
}

#bioCenter{
	border-radius: 0 10px;
}


/*----------------End Bio--------------------*/

.divPadding{
	padding-top: 15vh;
}

.quickSnippets {
	height: 100vh;
	width: 100vw;
	background: url("images/Brigham-statue.jpg") fixed 100% no-repeat;
}

.qsContent {
	margin: 5vh auto 0 auto;
	height: 100px;
	width: 1000px;
	background-color: rgba(8, 141, 165, .4);
	border-radius: 10px;
	/*------#088da5-------*/
}
